extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur ultrices mauris ut pellentesque. Vivamus eget purus a justo congue semper. Sed velit ligula, euismod sit amet porttitor semper, faucibus sit amet purus. Nunc diam neque, accumsan vitae magna at, semper tincidunt velit. Maecenas rhoncus elementum augue, rutrum posuere purus lacinia non. Morbi faucibus quam hendrerit, iaculis nibh tincidunt, mollis leo. Nulla facilisis diam risus, nec iaculis ligula ultricies a. Fusce vitae turpis quam.

                p blandit faucibus auctor. Etiam viverra ut mauris ac semper. Proin non metus sed mauris pretium sodales. Donec consequat, orci in feugiat feugiat, nibh neque efficitur erat, sit amet rutrum leo ante eget leo. Praesent sit amet urna cursus, consequat lorem et, cursus mi.

                p nec dapibus dui. Aenean quis velit eu risus porta rutrum sed porta est. Mauris tristique mollis nisi, et dignissim massa consectetur id. Mauris porta nunc vel ligula feugiat, quis commodo ipsum lobortis.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p quis commodo ipsum lobortis. Aliquam porta ornare mi id tincidunt. Phasellus ornare dapibus fringilla. In viverra nunc vitae volutpat volutpat. Suspendisse lorem metus, auctor eu magna vitae, fermentum tincidunt ex. Nullam vel sem nulla.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p quis commodo ipsum lobortis. Aliquam porta ornare mi id tincidunt. Phasellus ornare dapibus fringilla. In viverra nunc vitae volutpat volutpat. Suspendisse lorem metus, auctor eu magna vitae, fermentum tincidunt ex. Nullam vel sem nulla.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precio" class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p quis commodo ipsum lobortis. Aliquam porta ornare mi id tincidunt. Phasellus ornare dapibus fringilla. In viverra nunc vitae volutpat volutpat. Suspendisse lorem metus, auctor eu magna vitae, fermentum tincidunt ex. Nullam vel sem nulla.            